<form [formGroup]="formGroup">

    <div formGroupName="user">
        <h3>Dane osobowe</h3>

        <div>
            <div><label>Imię</label></div>
            <div>
                <div class="input-space">
                    <input formControlName="firstName" type="text">
                </div>
            </div>
        </div>
        <div>
            <div><label>Nazwisko</label></div>
            <div>
                <div class="input-space">
                    <input formControlName="lastName" type="text">
                </div>
            </div>
        </div>
        <div>
            <div><label>Email</label></div>
            <div>
                <div class="input-space">
                    <input formControlName="email" type="text">
                </div>
            </div>
        </div>
        <div>
            <div><label>Numer</label></div>
            <div>
                <div>
                    <input formControlName="phoneNumber" type="text">
                </div>
            </div>
        </div>
    </div>
    <div>

        <p>Numer kortu:  {{ courtNumber }}</p>
        <p>Godzina: {{ reservationTime }}</p>
        
    </div>

    <div>
        <button class="btn" (click)="onSubmit()">Rezerwuj</button>
    </div>
    </form>
